<aside class="w-80 h-screen bg-gray shadow-md w-fulll hidden sm:block">
  <div class="flex flex-col justify-between h-screen p-4 bg-gray-800">
    <div class="text-sm">
      <div
        class="bg-gray-900 text-white text-2xl px-3 py-4 rounded cursor-pointer"
      >
        Select a Filter
      </div>
      <a
        routerLink="search/by-country"
        routerLinkActive="bg-gray-700 text-blue-300"
        class="bg-gray-900 block text-white text-xl p-3 rounded mt-2 cursor-pointer"
      >
        Search Country
      </a>
      <a
        routerLink="search/by-region"
        routerLinkActive="bg-gray-700 text-blue-300"
        class="bg-gray-900 block text-white text-xl p-3 rounded mt-2 cursor-pointer"
      >
        By Region
      </a>
      <a
        routerLink="search/by-capital"
        routerLinkActive="bg-gray-700 text-blue-300"
        class="bg-gray-900 block text-white text-xl p-3 rounded mt-2 cursor-pointer"
      >
        By Capital
      </a>
    </div>
  </div>
</aside>
